<form action="/articles" method="post">
  <h1>Create New Article:</h1>
  <label for="phrase">Title:</label>
  <input type="text" id="phrase" name='title'>
  <label for="phrase">Content:</label>
  <input type="text" id="phrase" name='content'>

  <input type="submit">
</form>
