<html>
<head>
</head>

<body>

  <form method="post" action="/articles">
    <p>Article Title: <input type="text" id="title" name="article[title]"/></p>
    <p>Article Content: <input type="text" id="content" name="article[content]"/></p>
    <input type="submit" name="Submit"/>
  </form>

</body>

</html>
