<h1>Make an Article</h1>
<form action="/articles" method="post">
  Title:<br>
  <input id="title" type="text" name="title"> <br>
  Content:<br>
  <input id="content" type="text" name="content"> <br>
  <input type="submit" value="Submit">
</form>
