<form action='/articles' method="post">
  <h2>Article</h2>
  <label for="">Title</label><br>
  <input id="title" type="text" name="title" /><br>
  <label for="content">Content</label><br>
  <input id="content" type="text" name="content" /><br>
  <input type="submit" value="Submit">
</form>
